h1 {
  font-size: 3vh;
  margin-block: 0;
}
.container {
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  margin: 1rem;
  max-height: 45vh;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  transition: all ease-in-out 0.05s;
}
.container:hover {
  box-shadow: 10px 10px 20px rgb(129, 129, 129);
  transform: scale(1.1);
  filter: brightness(1.15);
}
.pokemon_img {
  background: white;
  border-radius: 1rem;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
