.container {
  border: 1px black solid;
  border-radius: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: contain;
  max-width: 15vw;
}